extends ../layout/layout
block styles
	link(rel='stylesheet' href='/css/pick-a-color-1.2.3.min.css')
	link(rel='stylesheet' href='/css/bootstrap-datepicker.css')
block content
	.row
		.col-lg-12
			h1.page-header Todo List
			.col-lg-9
				.row
					table.table.table-striped.table-bordered.table-hover
						thead
							tr
								th.col-lg-1 &nbsp;
								th.col-lg-6 Task
								th.col-lg-2 Tags
						tbody#tasks
					.btn-group
						a.btn.btn-primary(data-toggle='modal' href='#taskModal') Add Task
						#taskModal.modal.fade
							.modal-dialog
								.modal-content
									form#task-form.form-horizontal(role='form')
										.modal-header
											button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
											h4.modal-title Todo Item
										.modal-body
											.form-group
												input.form-control(type='hidden' name='_id' value='' )
											.form-group
												label.col-sm-2.control-label(for='content') Content(*):
												.col-sm-10
													input.form-control(type='text' required id='content' name='content' value='' autofocus)
											.form-group
												label.col-sm-2.control-label(for='dueDate') Date:
												.col-sm-10
													input.datepicker.form-control(type='text' id='dueDate' name='dueDate' value='' placeholder='Optional planned date')
											.form-group
												label.col-sm-2.control-label(for='tags') Tags:
												.col-sm-10#tags.btn-group(data-toggle="buttons")
										.modal-footer
											button.btn.btn-default(type='button' data-dismiss='modal') Close
											button.btn.btn-primary(type='submit') Save changes
			.col-sm-3
				.panel.panel-default
					.panel-heading
						i.fa.fa-list.fa-fw
						| Task Categories
					.panel-body
						.table-responsive
							table.table.table-striped.table-bordered.table-hover
								thead
									tr
										th Category Name
										th 
								tbody#categories
						form#category-form.form(action='' method='POST' role='form')
							legend
								fieldset
									.form-group
										.col-sm-12
											input.form-control(type='text' required name='name' value='' placeholder='Category Name')
											input.form-control(type='hidden' name='_id' value='')
											input.form-control(type='hidden' name='user' value='#{user.username}')
									.form-group
										.col-sm-12
											input.form-control.pick-a-color(type='text' value='06c' name='color')
									.form-group
										.col-sm-12
											button.btn.btn-primary.btn-sm(type='submit') Submit

block scripts
	script(src='/js/color/tinycolor-0.9.15.min.js')
	script(src='/js/color/pick-a-color-1.2.3.min.js')
	script(src='/js/bootstrap/bootstrap-datepicker.js')
	script(src='/js/task.js')
