extends layout
block content
	.row
		.col-lg-12
			h1.page-header Activities
			.row.page-title-tools
				button.btn.btn-default(onclick='reloadEvents();') Reload
			#calendar
			#event-editor.modal
				.modal-dialog
					.modal-content
						form#event-editor-form.form-horizontal(role='form')
							.modal-header
								button.close(type='button', onclick='closeEventEditor();') &times;
								#event-editor-header
							.modal-body
								fieldset
									.form-group
										input.form-control#event-editor-id(type='hidden' name='_id' value='')
										input.form-control(type='hidden' name='id' value='')
										input.form-control#event-editor-start(type='hidden' name='start' value='')
										input.form-control#event-editor-end(type='hidden' name='end' value='')
										input.form-control#event-editor-color(type='hidden' name='color' value='')
										input.form-control#event-editor-textColor(type='hidden' name='textColor' value='')
										input.form-control(type='hidden' name='user' value='')
									.form-group
										label.col-sm-2.control-label(for='event-editor-url') Category:
										.col-sm-8
											select.form-control.input-sm#event-editor-category(name='category')
										.col-sm-2
											span.color-box#event-editor-category-color
									.form-group
										label.col-sm-2.control-label(for='event-editor-title') Title (*):
										.col-sm-10
											input.form-control.input-sm(type='text' required name='title' value='' placeholder='Title' autofocus)
									.form-group
										label.col-sm-2.control-label(for='event-editor-desc') Description:
										.col-sm-10
											textarea.form-control.input-sm(row='3' name='desc' value='' placeholder='Description')
									.form-group
										label.col-sm-2.control-label(for='event-editor-jira') JIRA#:
										.col-sm-4
											input.form-control.input-sm(type='text' name='jira' value='' placeholder='JIRA number')
							.modal-footer
								.col-sm-2
									button.btn.btn-danger(type='button' onclick='deleteEvent();') Delete
								.col-sm-10
									button.btn.btn-default(type='button' onclick='closeEventEditor();') Close
									button#event-save-btn.btn.btn-primary(type='submit' onclick='saveFromEventEditor(event);') Save
