extends layout
block content
	.row
		.col-lg-12
			h1.page-header My Events
			#calendar
			#event-editor.modal
				.modal-dialog
					.modal-content
						form#event-editor-form.form-horizontal(role='form')
							.modal-header#event-editor-header
							.modal-body
								fieldset
									.form-group
										input.form-control#event-editor-id(type='hidden' name='id' value='')
										input.form-control#event-editor-start(type='hidden' name='start' value='')
										input.form-control#event-editor-end(type='hidden' name='end' value='')
										input.form-control#event-editor-color(type='hidden' name='color' value='')
									.form-group
										label.col-sm-2.control-label(for='event-editor-url') Category:
										.col-sm-6
											select.form-control.input-sm#event-editor-category(name='category')
									.form-group
										label.col-sm-2.control-label(for='event-editor-title') Title (*):
										.col-sm-10
											input.form-control.input-sm#event-editor-title(type='text' required name='title' value='' placeholder='Title' autofocus)
									.form-group
										label.col-sm-2.control-label(for='event-editor-desc') Description:
										.col-sm-10
											textarea.form-control.input-sm#event-editor-desc(row='3' name='desc' value='' placeholder='Description')
									.form-group
										label.col-sm-2.control-label(for='event-editor-jira') JIRA#:
										.col-sm-4
											input.form-control.input-sm#event-editor-jira(type='text' name='jira' value='' placeholder='JIRA number')
									.form-group
										label.col-sm-2.control-label(for='event-editor-url') URL:
										.col-sm-10
											input.form-control.input-sm#event-editor-url(type='text' name='url' value='' placeholder='URL')
							.modal-footer
								button.btn.btn-default(type='button' onclick='closeEventEditor();') Close
								button#event-save-btn.btn.btn-primary(type='submit' onclick='saveFromEventEditor(event);') Save
