extends ../layout/layout
block styles
	link(rel='stylesheet', href='/css/fullcalendar.css')
	link(rel='stylesheet', href='/css/fullcalendar.print.css' media='print')
	link(rel='stylesheet', href='/css/pick-a-color-1.2.3.min.css')
block scripts
	script(src='/js/moment.min.js')
	script(src='/js/jquery-ui.custom.min.js')
	script(src='/js/fullcalendar.min.js')
	script(src='/js/calendar.js')
	script(src='/js/tinycolor-0.9.15.min.js')
	script(src='/js/pick-a-color-1.2.3.min.js')