extends ../layout/layout
block styles
	link(rel='stylesheet', href='/css/fullcalendar.css')
	link(rel='stylesheet', href='/css/fullcalendar.print.css' media='print')
block scripts
	script(src='/js/moment.min.js')
	script(src='/js/jquery-ui.custom.min.js')
	script(src='/js/fullcalendar.min.js')
	script(src='/js/calendar.js')