extends layout/layout
block styles
	link(rel='stylesheet', href='/css/fullcalendar.css')
	link(rel='stylesheet', href='/css/fullcalendar.print.css' media='print')
	link(rel='stylesheet', href='/css/pick-a-color-1.2.3.min.css')
block content
	.row
		.col-lg-12
			h1.page-header Dashboard
			.col-lg-9
				.row
					.panel.panel-default
						.panel-heading
							i.fa.fa-list.fa-fw
							| Today's Task List
						.panel-body
							table.table.table-striped.table-bordered.table-hover
								thead
									tr
										th.col-lg-7 Task
										th.col-lg-1 &nbsp;
								tbody
									if tasks
										each task, i in tasks
											tr
												td #{task.content}
												td
													a.btn.btn-info.btn-xs(href='task/edit/#{task._id}')
														i.glyphicon.glyphicon-edit
													a.btn.btn-warning.btn-xs(href='#' data-href='task/delete/#{task._id}' data-toggle='modal' data-target='#confirm-delete')
														i.glyphicon.glyphicon-remove
							.btn-group
								a(href='task/add').btn.btn-default Add

			.col-lg-3
				#calendar
block scripts
	script(src='/js/jquery/jquery-ui-1.11.1.min.js')
	script(src='/js/calendar/moment.min.js')
	script(src='/js/calendar/fullcalendar.js')
	script(src='/js/color/tinycolor-0.9.15.min.js')
	script(src='/js/color/pick-a-color-1.2.3.min.js')
	script(src='/js/dashboard.js')
