tr
	td
		a.btn.btn-info.btn-xs(href='task/edit/#{_id}')
			i.glyphicon.glyphicon-edit
		a.btn.btn-warning.btn-xs(href='#' data-href='task/delete/#{_id}' data-toggle='modal' data-target='#confirm-delete')
			i.glyphicon.glyphicon-remove
	td #{content}
	td dummy tags