extends ../layout/layout
block content
	.row
		.col-sm-12
			h1.page-header Users
			.col-sm-3
				table.table.table-striped.table-bordered.table-hover
					thead
						tr
							th.col-sm-3 User not groupped
					tbody
						if users
							each user, i in users
								tr
									td
										img(src='#{user.avatarUrl}?s=24')
										|#{user.name}
			.col-sm-9
				#teamContainer
				div
					a.btn.btn-primary(data-toggle='modal', data-target='#teamModal') Add Team
					#teamModal.modal.fade
						.modal-dialog
							.modal-content
								form#team-form.form(action='', method='POST', role='form')
									.modal-header
										button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
										h4.modal-title Add / Edit Team
									.modal-body
										.form-group
											.col-sm-12
												input#team-form-id.form-control(type='hidden' name='_id' value='')
												input#team-form-name.form-control(type='text' required name='team' value='' placeholder='Team Name' autofocus)
									.modal-footer
										button.btn.btn-default(type='button', data-dismiss='modal') Close
										button.btn.btn-primary(type='submit') Save

block scripts
	script(src='/js/jquery/jquery-ui.custom.min.js')
	script(src='/js/user.js')
