extends ../layout/layout

block content
	.row
		.col-lg-12
			h1.page-header 
				a(href='/todo') Todo List
				|&nbsp;-&nbsp;Add
			.panel.panel-default
				.panel-heading Add Todo Item
				.panel-body
					form(action='/todo/save', method='POST', role='form')
						fieldset
							.form-group
								input.form-control(type='text', required, name='content' value='' placeholder='to do...' autofocus)
						button.btn.btn-primary.btn-lg(type='submit') Save
		