extends ../layout/layout

block content
	.row
		.col-lg-12
			h1.page-header Todo List
			div
				table.table.table-striped.table-bordered.table-hover
					thead
						tr
							th.col-sm-1 &nbsp;
							th ToDo
							th Tags
					tbody
						each todo, i in todos
							tr
								td
									a.btn.btn-info.btn-xs(href='todo/edit/#{todo._id}')
										span.glyphicon.glyphicon-edit
									a.btn.btn-warning.btn-xs(href='#' data-href='todo/delete/#{todo._id}' data-toggle='modal' data-target='#confirm-delete')
										span.glyphicon.glyphicon-remove
								td #{todo.content}
								td dummy tags
			.btn-group
				a(href='todo/add').btn.btn-default Add
			#confirm-delete.modal.fade(tabindex='-1' role='dialog'  aria-hidden='true')
				.modal-dialog
					.modal-content
						.modal-body
							p Sure to Delete?
						.modal-footer
							button(data-dismiss='modal').btn.btn-default Cancel
							a(href='#').btn.btn-danger.danger Delete
block scripts
	script
		|$('#confirm-delete').on('show.bs.modal', function(e) {
		|	$(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
		|});