head
	block head
		block title
			title Team Mate
		block meta
			meta(name='description', content='team mate')
			meta(name='keywords', content='team mate')
			meta(name='viewport', content='initial-scale=1, minimum-scale=1, width=device-width')
		link(rel='stylesheet', href='/css/bootstrap.css')
		link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
		link(rel='stylesheet', href='/css/jquery.qtip.min.css')
		link(rel='stylesheet', href='/css/teamate.css')
		block styles
