doctype html
html
	include header
	body(background='img/od.jpg')
		.container
			block content
		script(src='/js/jquery/jquery-1.11.0.min.js')
		script(src='/js/bootstrap/bootstrap.min.js')
		script(src='/js/jquery/jquery.metisMenu.js')
		script(src='/js/teamate/teamate.js')
		block scripts