doctype html
html
	include header
	body
		#wrapper
			nav.navbar.navbar-default.navbar-fixed-top(role="navigation" style="margin-bottom: 0")
				include menu
				include nav
			#page-wrapper
				block content

			include footer
		script(src='/js/jquery-1.11.0.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/jquery.metisMenu.js')
		script(src='/js/jquery.qtip.min.js')
		script(src='/js/teamate.js')
		block scripts