doctype html
html
	include header
	body
		#wrapper
			nav.navbar.navbar-default.navbar-fixed-top(role="navigation" style="margin-bottom: 0")
				include menu
				include nav
			#page-wrapper
				block content
				.row
					.col-lg-12
						#confirm-delete.modal.fade(tabindex='-1' role='dialog'  aria-hidden='true')
							.modal-dialog
								.modal-content
									.modal-body
										p Sure to Delete?
									.modal-footer
										button(data-dismiss='modal').btn.btn-default Cancel
										a(href='javascript:void(0);').btn.btn-danger.danger Delete

			include footer
		script(src='/js/jquery/jquery-1.11.0.min.js')
		script(src='/js/bootstrap/bootstrap.min.js')
		script(src='/js/jquery/jquery.metisMenu.js')
		script(src='/js/jquery/jquery.qtip.min.js')
		script(src='/js/jquery/jquery.storage.js')
		script(src='/js/teamate/teamate.js')
		script(src='/js/nav.js')
		block scripts