doctype html
html
	include header
	body(background='img/od.jpg')
		.container
			block content
		script(src='/js/jquery-1.11.0.min.js')
		script(src='/js/bootstrap.min.js')
		script(src='/js/jquery.metisMenu.js')
		script(src='/js/teamate.js')
		block scripts