.navbar-header
	button(class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse")
		span.iron-bar
		span.iron-bar
		span.iron-bar
	a(class="navbar-brand" href="/") Team Mate

ui.nav.navbar-top-links.navbar-right
	if user
		a(href='/profile')
			img(src='#{user.avatarUrl}?s=24')
			|&nbsp;#{user.name}
	li.dropdown
		a(class="dropdown-toggle" data-toggle="dropdown" href="#")
			i.fa.fa-gears.fa-fw
			| &nbsp;
			i.fa.fa-caret-down
		ul.dropdown-menu.dropdown-user
			if user
				li
					a(href="/logout")
						i.fa.fa-sign-out
						| &nbsp; Logout
			else
				li
					a(href="/login")
						i.fa.fa-sign-in
						| &nbsp; Login