.navbar-default.navbar-static-side
	.sidebar-collapse
		ul(class="nav" id="side-menu")
			li.sidebar-search
				.input-group.custom-search-form
					input(type="text" class="form-control" placeholder="Search...")
					span.input-group-btn
						button.btn.btn-default
							i.fa.fa-search
			li
				a(href="/")
					i.fa.fa-dashboard.fa-fw
					| &nbsp; Dashboard
			li
				a(href="#")
					i.fa.fa-users.fa-fw
					| &nbsp; Activities
					span.fa.arrow
				ul.nav.nav-second-level#activities
			li
				a(href="/task")
					i.fa.fa-tasks.fa-fw
					| &nbsp; Todo List
			li
				a(href="/users")
					i.fa.fa-tasks.fa-fw
					| &nbsp; Users
			li
				a(href="/report")
					i.fa.fa-tasks.fa-fw
					| &nbsp; Weekly Report
